<p id="notice"><%= notice %></p>

<h1>Entry Logs</h1>

<table>
  <thead>
    <tr>
      <th>Phone</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entry_logs.each do |entry_log| %>
      <tr>
        <td><%= entry_log.phone %></td>
        <td><%= entry_log.detail %></td>
        <td><%= link_to 'Show', entry_log %></td>
        <td><%= link_to 'Edit', edit_entry_log_path(entry_log) %></td>
        <td><%= link_to 'Destroy', entry_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry Log', new_entry_log_path %>
