<section class="bg-gray-100">
  <div class="container px-4 py-20 mx-auto">
    <a
      href="/"
      title="Kutty Home Page"
      class="flex items-center justify-start sm:justify-center"
    >
        <%= heroicon 'search' %>
      <span>SMS Watcher</span>
    </a>
    <div
      class="w-full px-0 pt-5 pb-6 mx-auto mt-4 mb-0 space-y-4 bg-transparent border-0 border-gray-200 rounded-lg md:bg-white md:border sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-4/12 md:px-6 sm:mt-8 sm:mb-5"
    >
      <h1
        class="mb-5 text-xl font-light text-left text-gray-800 sm:text-center"
      >
        Log in to your account
      </h1>
      <form class="pb-1 space-y-4">
        <label class="block">
          <span class="block mb-1 text-xs font-medium text-gray-700"
            >Your Email</span
          >
          <input
            class="form-input"
            type="email"
            placeholder="Ex. james@bond.com"
            inputmode="email"
            required
          />
        </label>
        <label class="block">
          <span class="block mb-1 text-xs font-medium text-gray-700"
            >Your Password</span
          >
          <input
            class="form-input"
            type="password"
            placeholder="••••••••"
            required
          />
        </label>
        <div class="flex items-center justify-between">
          <label class="flex items-center">
            <input type="checkbox" class="form-checkbox" />
            <span
              class="block ml-2 text-xs font-medium text-gray-700 cursor-pointer"
              >Remember me</span
            >
          </label>
          <input type="submit" class="btn btn-primary" value="Login" />
        </div>
      </form>
    </div>

  </div>
</section>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
