<!DOCTYPE html>
<html>
  <head>
    <title>SmsWatcher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.drmedmk.com/static/tailwind.min.css" type="text/css" media="screen" />
    <style type="text/css" media="screen">
     input {
         padding: 3px;
         border: rgb(51, 65, 85) 1px solid;
         border-radius: 3px;
     }
     label {
         color: rgb(51, 65, 85);
     }
    </style>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
